*
!MasterServer.csproj
!nuget.config
!Program.cs
!Configuration/
!Configuration/**
!Data/
!Data/**
!Lobbies/
!Lobbies/**
!Hubs/
!Hubs/**
!Chat/
!Chat/**
!Migrations/
!Migrations/**
!DTOs/
!DTOs/**
**/bin/
**/obj/
